.container_video {
    height: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
}

.video {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#snapshot {
    margin: 6% 0 6% 0;
    width: 50%;
    height: 2%;
    border: 1px solid #acadaf;
    border-radius: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc));
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}