#camera-stream {
    display: block;
}

#file-stream {
    display: none;
    max-height: 376px;
    max-width: 600px;
}

#file_img {
    display: none;
    max-height: 376px;
    max-width: 600px;
}

#snapshot {
    width: 25%;
    height: 2%;
    border: 1px solid #acadaf;
    border-radius: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc));
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#canvas {
    display: none;
}

#image {
    display: none;
}

.validate_button {
    width: 25%;
    border: 1px solid #acadaf;
    border-radius: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc));
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
